body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wea_cardContainer {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.wea_weathercard {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
  }
  
 .wea_city {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: white;
  }
  
 .wea_weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: rgb(197, 197, 197);
  }
  
 .wea_temp {
    font-size: 1.6em;
    color: white;
    margin: 10px;
  }
  
 .wea_minmaxContainer {
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 .wea_min,
 .wea_max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0px;
    padding: 0px 20px;
  }
  
 .wea_max {
    align-items: flex-start;
    border-left: 2px solid white;
  }
  
 .wea_maxHeading,
 .wea_minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
  }
  
 .wea_maxTemp,
 .wea_minTemp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
    padding: 0;
    margin: 0;
  }
  
 .wea_cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
  }
  
 .wea_cardContainer:hover::before {
    transform: translate(-50px, 50px);
  }
  